In [58]:
import pandas as pd
from sklearn.naive_bayes import GaussianNB, BernoulliNB, MultinomialNB
from sklearn.model_selection import train_test_split
df = pd.read_csv('dataset.csv')

for column in df[['educacao_esposa', 'educacao_marido', 'marido_ocupacao', 'standard_of_living']]:
    low = df[column] == 1
    regular = df[column] == 2
    good = df[column] == 3
    high = df[column] == 4
    df.loc[low, column] = 'low'
    df.loc[regular, column] = 'regular'
    df.loc[good, column] = 'good'
    df.loc[high, column] = 'high'
    
df.head(10)

,idade_esposa,educacao_esposa,educacao_marido,quantidade_filhos,religiao_esposa,eposa_trabalha,marido_ocupacao,standard_of_living,exposicao_midia,metodo_contraceptivo
0,24,regular,good,3,1,1,regular,good,0,1
1,45,low,good,10,1,1,good,high,0,1
2,43,regular,good,7,1,1,good,high,0,1
3,42,good,regular,9,1,1,good,good,0,1
4,36,good,good,8,1,1,good,regular,0,1
5,19,high,high,0,1,1,good,good,0,1
6,38,regular,good,6,1,1,good,regular,0,1
7,21,good,good,1,1,0,good,regular,0,1
8,27,regular,good,3,1,1,good,high,0,1
9,45,low,low,8,1,1,regular,regular,1,1

In [83]:
low = df[df['educacao_esposa'] == 'low']
quantidade_low = low['educacao_esposa'].count()
media_low = low['quantidade_filhos'].sum() / quantidade

regular = df[df['educacao_esposa'] == 'regular']
quantidade_regular = regular['educacao_esposa'].count()
media_regular = regular['quantidade_filhos'].sum() / quantidade_regular

high = df[df['educacao_esposa'] == 'high']
quantidade_high = high['educacao_esposa'].count()
media_high = high['quantidade_filhos'].sum() / quantidade_high


print(quantidade_low, media_low)
print(quantidade_regular, media_regular)
print(quantidade_high, media_high)


import plotly.plotly as py
import plotly.graph_objs as go
import plotly

trace1 = go.Bar(
            x=['baixo nivel educacao', 'medio nivel educacao', 'alto nivel educacao'],
            y=[quantidade_low/10, quantidade_regular/10, quantidade_high/10]
    )

trace2 = go.Bar(
            x=['baixo nivel educacao', 'medio nivel educacao', 'alto nivel educacao'],
            y=[media_low, media_regular, media_high]
    )
data = [trace1, trace2]

plotly.tools.set_credentials_file(username='fabiomsrs', api_key='kaim3eXD0bQjCmwB3v5A')
py.iplot(data, filename='basic-bar')

152 4.421052631578948
334 3.5089820359281436
577 2.831889081455806
High five! You successfully sent some data to your account on plotly. View your plot in your browser at https://plot.ly/~fabiomsrs/0 or inside your plot.ly account where it is named 'basic-bar'

In [54]:
x = df.drop(['metodo_contraceptivo'], axis=1)
y = df['metodo_contraceptivo']

x = pd.get_dummies(x)
y.head(10)

0    1
1    1
2    1
3    1
4    1
5    1
6    1
7    1
8    1
9    1
Name: metodo_contraceptivo, dtype: int64

In [55]:
from sklearn.model_selection import train_test_split

# g = GaussianNB()
# b = BernoulliNB()
m = MultinomialNB()

x_treino, x_teste, y_treino, y_teste = train_test_split(x, y, test_size=0.25, random_state=0)

# g.fit(x_treino, y_treino)
# b.fit(x_treino, y_treino)
# b.score(x_teste, y_treino)
m.fit(x_treino, y_treino)
m.score(x_teste, y_teste)

0.5013550135501355

In [56]:
from scipy.stats import bayes_mvs
from sklearn.model_selection import cross_val_score
k = 6
scores = cross_val_score(m, x, y, cv = k)
scores

array([0.45748988, 0.4796748 , 0.50406504, 0.51428571, 0.48163265,
       0.44672131])

In [57]:
from scipy.stats import bayes_mvs

bayes_mvs(scores,0.95)

(Mean(statistic=0.4806448991272054, minmax=(0.45340364801878064, 0.5078861502356302)),
 Variance(statistic=0.0011230296691342725, minmax=(0.000262543423641796, 0.004053226582422955)),
 Std_dev(statistic=0.030874863396756935, minmax=(0.016203191773283315, 0.06366495568539222)))